# Don't commit the settings file directly!  Link to the appropriate one
weatherstation/weatherstation/settings.py

# Development database
*.sqlite3

# TODO Collected static files

# Vim temporary files
*~
*.swp

# Python temporary files
*.pyc

# Recommended virtualenv
py3-venv/*

